* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

:root {
    --primary-color: #C490E4;
    --bg-color: #F9F9F9;
    --shadow-button: 0 2px 2px #0000002e;
    --shadow-button-hover: 0 4px 4px #0000002e;
    --shadow-default: 0 2px 6px 0 #00000061;

}
.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}
.signup-container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 1em;
}
.add-user-name-container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 1em;
    margin: 2em auto;
}
.login-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 1em;
    margin: 2em auto;
}
.button-groups{
    display: flex;
    justify-content: space-around;
}
.feedback-form-container{
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.feedback-form-controls{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    gap: 2em;
}
.feedback-form-submit-btn {
    align-self: flex-end;
}
.feedback-display-area{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin: 3em;
}
.feedback-card-container{
    border: 2px solid rgb(189, 189, 189);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
}
.delete-feedback {
    color: red;
    cursor: pointer;
}
.user-profile-container > h1 {
    margin: 2em;
    text-align: center;
}
.share-this-feedback-link{
    text-align: center;
}
.remove-textdeco{
    text-decoration: none;
}